/* Basic Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
    line-height: 1.6;
}

/* Hero Section (combining carousels) */
.hero {
    position: relative; /* For positioning elements inside */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px; /* Adjust as needed */
    overflow: hidden; /* Hide carousel overflow */
}

.hero .carousel-inner {
    width: 1500px;
    height: 500px; /* Adjust as needed */
}

.hero .carousel-item img {
    width: 1500px;
    height: 500px; /* Adjust as needed */
    object-fit: cover; /* Cover the entire area */
    opacity: 0.7; /* Slightly transparent */
    /*z-index: -1 !important;*/
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;  /*Ensure text is on top */
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: blueviolet;
    text-shadow:-3px -3px 5px black, 4px 4px 5px black;
}

.hero p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: black;
    text-shadow:-2px -2px 7px blueviolet, 5px 5px 7px blueviolet;
}

/* Call-to-Action Buttons */
.btn-primary, .btn-secondary {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 0 10px; /* Spacing between buttons */
    transition: all 0.3s ease; /* Smooth hover effect */
}

.btn-primary {
    background-color: #007bff; /* Blue */
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d; /* Gray */
    border-color: #6c757d;
}

.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8;
    color: yellow;
    transform: scale(1.05);
}

/* About Us Section */
.about-us {
    margin-top: 4rem;
    padding: 2rem;
    background-color: #e3e9f0; /* Light gray */
    border-radius: 10px;
    text-align: center;
    
}

.about-us img {
    max-width: 200px; /* Adjust as needed */
    border-radius: 50%; /* Make it circular */
    margin-bottom: 1.5rem;
}

.about-us h2 {
    margin-bottom: 1rem;
}

.about-us p {
    font-size: 1.1rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
}