
body {
  margin-top: 10%;
  background-color: lightgray;
}

form {
  background-color:gray; 
  padding: 5%; 
  color: white; 
  font-weight: bold; 
  border-radius: 5px;
}


/* Responsive Styles */

/* For smaller screens (e.g., mobile phones) */
@media (max-width: 1024px) {
  body{
      margin-top: 20%;
  }
}

/* For even smaller screens (e.g., very small phones) */
@media (max-width: 480px) {

  body{
      margin-top: 20%;
  }
}
