
body {
    margin-top: 10%;
    background-color: beige;
  }

  .frame {
    background-color:bisque; 
    padding: 5%; 
    font-weight: bold; 
    width:50%;
  }

  button {
    margin-top: 5%;
  }
  
  

  
  /* Responsive Styles */
  
  /* For smaller screens (e.g., mobile phones) */
  @media (max-width: 1024px) {
    body{
        margin-top: 20%;
    }
  }
  
  /* For even smaller screens (e.g., very small phones) */
  @media (max-width: 480px) {
  
    body{
        margin-top: 20%;
    }
  }
  