
/*Styling all body for all pages*/

body{
	margin-top: 5%;
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2.5rem;
}

.products {
	background-color: yellowgreen;
	width: 18rem;
	height:fit-content;
	display:block;
	
}

.myproducts {
	background-color: aquamarine;
	width: 100%;
	height:fit-content;
}




