<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body style="margin-top:5%">
<div layout:fragment="content">
    <header class="hero">
        <div id="carouselExampleAutoplaying" class="carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner flix" align="center">
				<div class="carousel-item active" data-bs-interval="2000">
					<img th:src="@{/images/car.png}" class="d-block " alt="car">
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img th:src="@{/images/furniture.jpg}" class="d-block " alt="furniture">
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img th:src="@{/images/tv.jpg}" class="d-block " alt="tv">
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img th:src="@{/images/samsung.jpg}" class="d-block " alt="iphone">
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img th:src="@{/images/electro.jpg}" class="d-block " alt="electronics">
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img th:src="@{/images/appliance.jpg}" class="d-block " alt="appliance">
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img th:src="@{/images/moving.jpg}" class="d-block " alt="moving">
				</div>
                <div class="carousel-item" data-bs-interval="2000">
					<img th:src="@{/images/forrent.jpg}" class="d-block " alt="forrent">
				</div>
			</div>
        </div>
        <div class="hero-content">
            <h1>Welcome to Shuqa!</h1>
            <p>Your local marketplace for buying and selling pre-loved treasures.</p>
			<a th:href="@{/products}" class="btn btn-primary" role="button">Browse Products</a>
			<a th:href="@{/login}" class="btn btn-secondary" role="button">Sell Your Item</a>
        </div>
    </header>

    <section class="about-us">
        <h2>About Shuqa (ܫܒܩܐ)</h2>
        <div>
            <p><b>Welcome to Shuqa,</b>
                Our website is the perfect local marketplace for buying and selling items conveniently <br>
                within your community. Whether you're looking to declutter and make some extra cash or <br>
                find great deals on pre-loved items, our platform connects local sellers and buyers. <br>
                Simply post your item for sale, set a price, and wait for interested buyers to reach out! <br>
                Once a sale is made, the buyer can easily arrange a pick-up—no shipping hassles, just a <br>
                straightforward, safe way to exchange goods in your area.</p>
        </div>
    </section>
</div>

<footer class="py-3 my-4 mb-0 pb-0 sticky-bottom" style=" bottom:0%; width: 100%;">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
   <p class="text-center text-muted">© 2025 <a href="GCU.edu">GCU</a></p>
</footer>
</body>
</html>