<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<!--  layout:decorate="layouts/defaultTemplate"  -->
	<head>
		<meta charset="UTF-8" />
		<title>Products</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="description" content=""/>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		
	</head>

	<body layout:fragment="content" style="background-color: rgb(57, 158, 158);"> 
		<div>
			<div class="col-md-2">
				<div>
					<form th:action="@{/products/search}" method="get">
						<div class="input-group">
							<input type="text" class="form-control" name="query"
								   placeholder="Search by name or description">
							<button class="btn btn-secondary" type="submit">Search</button>
						</div>
					</form>
				</div>
			</div>

			<div th:if="${#lists.isEmpty(products) || products.empty}" class="alert alert-warning text-center">
				No products found matching your search.
			</div>

			<div class="container mt-5">
				

				<div class="card products" th:each="product : ${products}" th:id="${product.id}">

					<a style="background-color: yellowgreen;" th:href="@{/products/displayItem/{productId}(productId=${product.id})}" class="btn btn-secondary">
						<div class="card-body" style="background-color: yellowgreen;">
							
							<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
								<div class="carousel-inner">
									<!--<div class="carousel-item active">-->
									<div th:each="image, iterStat : ${product.images}" class="carousel-item" th:classappend="${iterStat.index == 0} ? 'active'">
										<img th:src="@{${image}}" class="d-block w-100" alt="Product Image" >
									</div>

								</div>
								
							</div>

							<h4 class="card-title" th:text="${product.name}" style="color: black;">Name</h4> 
							
							<h6 class="list-group-item" th:text="'$' + ${product.price}">Price</h6>
							
						</div>
					</a>	
				</div>
			</div>
		</div>
	</body>
</html>